{% extends 'agent_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
    <img src="../static/agent_home/images/dashboard/AGENT PANEL.jpg"  WIDTH="1200p" height="900dp" alt="people">


{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td><a href="viewassign">View Assigned Work and Update status</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="payment">View Payment details</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="manageclm">Add and Manage Claim</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="chat">Chat With User</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><label>#}
{#        <div align="center">#}
{#          <input type="submit" name="Submit" value="Logout" />#}
{#        </div>#}
{#      </label></td>#}
{#    </tr>#}
{#  </table>#}
</form>
</body>
{% endblock %}
{#</html>#}
