{% extends 'admin_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
    <img src="../static/admin_home/images/dashboard/admin_home.jpeg"  WIDTH="1200dp" height="700dp" alt="people">

{#  <table width="274" border="1">#}
{#    <tr>#}
{#      <td width="264"><a href="manage_agent">Add and Manage Agent</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="managepol">Add and Manage Policy</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="viewpolreq">View request and Update status</a></td>#}
{#    </tr>#}
{##}
{#    <tr>#}
{#      <td><a href="viewwork">View Work Status</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="viewcomp">View Complaint and Send reply</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="viewfeed">View feedback & Rating </a></td>#}
{#    </tr>#}
{##}
{#    <tr>#}
{#      <td><a href="viewpay">View Payment details</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="verify">View and Verify Claim request</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center"><a href="/" class="style1"></a>#}
{#        <label>#}
{#        <input type="submit" name="Submit" value="Logout" />#}
{#        </label>#}
{#      </div></td>#}
{#    </tr>#}
{#  </table>#}
</form>
</body>
{% endblock %}