



</head>
{% extends 'admin_index.html' %}
{% block body %}

<body>
<form action="/sendrepplyyy" method="post" enctype="multipart/form-data" name="form1" id="form1">


<table class="table table-dark table-striped">
                                  <th  colspan="5" style="width:600px;text-align: center; font-size: 34px; text-decoration: underline; ">SEND REPLY</th>

    <tr>
        <td>Reply</td>
         <td><label for="form10">
        <textarea id="form10" class="md-textarea form-control" rows="3"  name="textarea"></textarea>
      </label></td>
    </tr>
 <tr>
      <td colspan="2"align="center"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Send" class="btn btn-primary" style="border-radius: 1px"/>
          </div>
      </label></td>
    </tr>
  </table>



</form>

</body>
{% endblock %}
{##}
{#</html>#}
<!-- end document-->