{#  <!DOCTYPE html>#}
{#  <html lang="en">#}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Star Health and allied insurance - About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/home/first/assets/img/favicon.png" rel="icon">
  <link href="/static/home/first/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/home/first/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/home/first/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/home/first/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/home/first/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/home/first/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/home/first/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/home/first/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.ht" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 style="font-family: 'Garamond',Serif;font-size:30px";>Star Health and allied insurance<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/"style="font-family: 'Garamond',Serif;font-size:15px">Home</a></li>
          <li><a href="about" class="active"style="font-family: 'Garamond',Serif;font-size:15px">About Us</a></li>
         {#  <li><a href="services.html">Services</a></li>#}
         {#   <li><a href="projects.html">Projects</a></li>#}
        {#   <li><a href="blog.html">Blog</a></li>#}
          {#  <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>#}
           {#   <ul>#}
             {#   <li><a href="#">Dropdown 1</a></li>#}
             {#   <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>#}
               {#   <ul>#}
                 {#   <li><a href="#">Deep Dropdown 1</a></li>#}
                  {#  <li><a href="#">Deep Dropdown 2</a></li>#}
                  {#  <li><a href="#">Deep Dropdown 3</a></li>#}
                  {#  <li><a href="#">Deep Dropdown 4</a></li>#}
                 {#  <li><a href="#">Deep Dropdown 5</a></li>#}
               {# </ul>#}
             {#  </li>#}
              {#  <li><a href="#">Dropdown 2</a></li>#}
              {#  <li><a href="#">Dropdown 3</a></li>#}
             {#   <li><a href="#">Dropdown 4</a></li>#}
            {#  </ul>#}
         {#   </li>#}
          <li><a href="contact"style="font-family: 'Garamond',Serif;font-size:15px">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= image ======= -->
 <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/home/first/assets/img/building.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2 style="font-family: 'Brush Script MT',cursive;font-size:90px";>About</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>About</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row position-relative">

     <div class="col-lg-7 about-img" style="background-image:url(/static/home/first/assets/img/star.jpg);"></div>

          <div class="col-lg-7">
            <h2 style="font-family: 'Garamond',Serif;font-size:60px;color:#0f3d81;">Star personal and caring insurance</h2>
            <div class="our-story">
              <h4>Est 2006</h4>
              <h3 style="font-family: 'Garamond',Serif; color:#0f3d81;">Our Story</h3>
              <p>We are Star Health & Allied Insurance Co. Ltd., India’s leading private Health Insurance company. Headquartered in Chennai, we began our operations in 2006 as India's first standalone Health Insurance provider. Today, with over 14,000 Network Hospitals , 850+ branch offices spread across the country, over 6.40 lakh agents and over Rs. 30,300 crore in paid claims, we are truly the health insurers to the nation.</p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Individual and Family Health Insurance</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Personal accidental cover policy</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Vehicle Insurance</span></li>
              </ul>
              <p>In this digitally driven world, we have adapted to the current trends by digitally transforming ourselves with innovative technologies to guarantee the quality of service, ease of access and seamless user experience for all our customers.</p>

              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="https://youtu.be/ZL2VuVLn_qU?si=rymF4AUEEc2z_wlI class="glightbox stretched-link>Watch Video</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Stats Counter Section ======= -->
{#    <section id="stats-counter" class="stats-counter section-bg">#}
{#      <div class="container">#}
{##}
{#        <div class="row gy-4">#}
{##}
{#          <div class="col-lg-3 col-md-6">#}
{#            <div class="stats-item d-flex align-items-center w-100 h-100">#}
{#              <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>#}
{#              <div>#}
{#                <span data-purecounter-start="0" data-purecounter-end="5000000" data-purecounter-duration="1" class="purecounter"></span>#}
{#                <p>Happy Clients</p>#}
{#              </div>#}
{#            </div>#}
{#          </div><!-- End Stats Item -->#}
{##}
{#          <div class="col-lg-3 col-md-6">#}
{#            <div class="stats-item d-flex align-items-center w-100 h-100">#}
{#              <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>#}
{#              <div>#}
{#                <span data-purecounter-start="0" data-purecounter-end="850" data-purecounter-duration="1" class="purecounter"></span>#}
{#                <p>Branches</p>#}
{#              </div>#}
{#            </div>#}
{#          </div><!-- End Stats Item -->#}
{##}
{#          <div class="col-lg-3 col-md-6">#}
{#            <div class="stats-item d-flex align-items-center w-100 h-100">#}
{#              <i class="bi bi-headset color-green flex-shrink-0"></i>#}
{#              <div>#}
{#                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>#}
{#                <p>Hours Of Support</p>#}
{#              </div>#}
{#            </div>#}
{#          </div><!-- End Stats Item -->#}
{##}
{#          <div class="col-lg-3 col-md-6">#}
{#            <div class="stats-item d-flex align-items-center w-100 h-100">#}
{#              <i class="bi bi-people color-pink flex-shrink-0"></i>#}
{#              <div>#}
{#                <span data-purecounter-start="0" data-purecounter-end="15000" data-purecounter-duration="1" class="purecounter"></span>#}
{#                <p>Company Agents</p>#}
{#              </div>#}
{#            </div>#}
{#          </div><!-- End Stats Item -->#}
{##}
{#        </div>#}
{##}
{#      </div>#}
{#    </section><!-- End Stats Counter Section -->#}

    <!-- ======= Alt Services Section ======= -->
{#    <section id="alt-services" class="alt-services">#}
{#      <div class="container" data-aos="fade-up">#}
{##}
{#        <div class="row justify-content-around gy-4">#}
{#          <div class="col-lg-6 img-bg" style="background-image: url(assets/img/alt-services.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>#}
{##}
{#          <div class="col-lg-5 d-flex flex-column justify-content-center">#}
{#            <h3>Enim quis est voluptatibus aliquid consequatur fugiat</h3>#}
{#            <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi</p>#}
{##}
{#            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">#}
{#              <i class="bi bi-easel flex-shrink-0"></i>#}
{#              <div>#}
{#                <h4><a href="" class="stretched-link">Lorem Ipsum</a></h4>#}
{#                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>#}
{#              </div>#}
{#            </div><!-- End Icon Box -->#}
{##}
{#            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">#}
{#              <i class="bi bi-patch-check flex-shrink-0"></i>#}
{#              <div>#}
{#                <h4><a href="" class="stretched-link">Nemo Enim</a></h4>#}
{#                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>#}
{#              </div>#}
{#            </div><!-- End Icon Box -->#}
{##}
{#            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">#}
{#              <i class="bi bi-brightness-high flex-shrink-0"></i>#}
{#              <div>#}
{#                <h4><a href="" class="stretched-link">Dine Pad</a></h4>#}
{#                <p>Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>#}
{#              </div>#}
{#            </div><!-- End Icon Box -->#}
{##}
{#            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">#}
{#              <i class="bi bi-brightness-high flex-shrink-0"></i>#}
{#              <div>#}
{#                <h4><a href="" class="stretched-link">Tride clov</a></h4>#}
{#                <p>Est voluptatem labore deleniti quis a delectus et. Saepe dolorem libero sit non aspernatur odit amet. Et eligendi</p>#}
{#              </div>#}
{#            </div><!-- End Icon Box -->#}
{##}
{#          </div>#}
{#        </div>#}
{##}
{#      </div>#}
{#    </section><!-- End Alt Services Section -->#}

    <!-- ======= Alt Services Section 2 ======= -->
    <section id="alt-services-2" class="alt-services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3 style="font-family: 'Garamond',Serif;font-size:50px;color:#0f3d81;">Why Choose Us</h3>
            <p>As India's largest private health insurance company, we offer innovative and tailored products aligned with the needs of the Indian Market. We have also raised the bar of our customer service with dedicated claims assistance and 24x7 support</p>
<br>
            <div >
{#              <i class="bi bi-easel flex-shrink-0"></i>#}
              <div>
                <h4 >Health insurance</h4>
                <p>Wide range of Health Insurance and Specialty products to cater to every segment</p>
              </div>
            </div><!-- End Icon Box -->
              <br>

            <div >
{#              <i class="bi bi-patch-check flex-shrink-0"></i>#}
              <div>
                <h4>Branches</h4>
                <p>Pan India presence with 850+ branch offices</p>
                  <br>
              </div>
            </div><!-- End Icon Box -->

            <div >
{#              <i class="bi bi-brightness-high flex-shrink-0"></i>#}
              <div>
                <h4>Awards</h4>
                <p> Health Insurance provider of the year 2018 – Outlook Money awards
                Best Health Insurance provider of the year 2018 – Business Today - Money Today financial awards 2018 – 2019
                India’s leading Insurance Company of the year – Dun & Bradstreet BFSI Summit & Awards 2019</p>
              </div>
            </div><!-- End Icon Box -->
<br>
            <div >
{#              <i class="bi bi-brightness-high flex-shrink-0"></i>#}
              <div>
                <h4>Benefits</h4>
                <p>Protection for	Individual / Families on Floater Basis
                Hassle-Free Claims	89.9% in less than 2 hours
                Digital Platform	Highly sophisticated website
                Pre-insurance Medical Screening	Not Mandatory in most of our Policies</p>
              </div>
            </div><!-- End Icon Box -->
          </div>

          <div class="col-lg-6 img-bg" style="background-image: url(/static/home/first/assets/img/covered.jpg)";)data-aos="zoom-in" data-aos-delay="100"></div>
        </div>

      </div>
    </section><!-- End Alt Services Section 2 -->

    <!-- ======= Our Team Section ======= -->
{#    <section id="team" class="team">#}
{#      <div class="container" data-aos="fade-up">#}
{##}
{#        <div class="section-header">#}
{#          <h2>Our Team</h2>#}
{#          <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p>#}
{#        </div>#}
{##}
{#        <div class="row gy-5">#}
{##}
{#          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">#}
{#            <div class="member-img">#}
{#              <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">#}
{#              <div class="social">#}
{#                <a href="#"><i class="bi bi-twitter"></i></a>#}
{#                <a href="#"><i class="bi bi-facebook"></i></a>#}
{#                <a href="#"><i class="bi bi-instagram"></i></a>#}
{#                <a href="#"><i class="bi bi-linkedin"></i></a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="member-info text-center">#}
{#              <h4>Walter White</h4>#}
{#              <span>Chief Executive Officer</span>#}
{#              <p>Aliquam iure quaerat voluptatem praesentium possimus unde laudantium vel dolorum distinctio dire flow</p>#}
{#            </div>#}
{#          </div><!-- End Team Member -->#}
{##}
{#          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">#}
{#            <div class="member-img">#}
{#              <img src="static/home/first/assets/img/team/team-2.jpg" class="img-fluid" alt="">#}
{#              <div class="social">#}
{#                <a href="#"><i class="bi bi-twitter"></i></a>#}
{#                <a href="#"><i class="bi bi-facebook"></i></a>#}
{#                <a href="#"><i class="bi bi-instagram"></i></a>#}
{#                <a href="#"><i class="bi bi-linkedin"></i></a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="member-info text-center">#}
{#              <h4>Sarah Jhonson</h4>#}
{#              <span>Product Manager</span>#}
{#              <p>Labore ipsam sit consequatur exercitationem rerum laboriosam laudantium aut quod dolores exercitationem ut</p>#}
{#            </div>#}
{#          </div><!-- End Team Member -->#}
{##}
{#          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">#}
{#            <div class="member-img">#}
{#              <img src="static/home/first/assets/img/team/team-3.jpg" class="img-fluid" alt="">#}
{#              <div class="social">#}
{#                <a href="#"><i class="bi bi-twitter"></i></a>#}
{#                <a href="#"><i class="bi bi-facebook"></i></a>#}
{#                <a href="#"><i class="bi bi-instagram"></i></a>#}
{#                <a href="#"><i class="bi bi-linkedin"></i></a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="member-info text-center">#}
{#              <h4>William Anderson</h4>#}
{#              <span>CTO</span>#}
{#              <p>Illum minima ea autem doloremque ipsum quidem quas aspernatur modi ut praesentium vel tque sed facilis at qui</p>#}
{#            </div>#}
{#          </div><!-- End Team Member -->#}
{##}
{#          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">#}
{#            <div class="member-img">#}
{#              <img src="static/home/first/assets/img/team/team-4.jpg" class="img-fluid" alt="">#}
{#              <div class="social">#}
{#                <a href="#"><i class="bi bi-twitter"></i></a>#}
{#                <a href="#"><i class="bi bi-facebook"></i></a>#}
{#                <a href="#"><i class="bi bi-instagram"></i></a>#}
{#                <a href="#"><i class="bi bi-linkedin"></i></a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="member-info text-center">#}
{#              <h4>Amanda Jepson</h4>#}
{#              <span>Accountant</span>#}
{#              <p>Magni voluptatem accusamus assumenda cum nisi aut qui dolorem voluptate sed et veniam quasi quam consectetur</p>#}
{#            </div>#}
{#          </div><!-- End Team Member -->#}
{##}
{#          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">#}
{#            <div class="member-img">#}
{#              <img src="static/home/first/assets/img/team/team-5.jpg" class="img-fluid" alt="">#}
{#              <div class="social">#}
{#                <a href="#"><i class="bi bi-twitter"></i></a>#}
{#                <a href="#"><i class="bi bi-facebook"></i></a>#}
{#                <a href="#"><i class="bi bi-instagram"></i></a>#}
{#                <a href="#"><i class="bi bi-linkedin"></i></a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="member-info text-center">#}
{#              <h4>Brian Doe</h4>#}
{#              <span>Marketing</span>#}
{#              <p>Qui consequuntur quos accusamus magnam quo est molestiae eius laboriosam sunt doloribus quia impedit laborum velit</p>#}
{#            </div>#}
{#          </div><!-- End Team Member -->#}
{##}
{#          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">#}
{#            <div class="member-img">#}
{#              <img src="static/home/first/assets/img/team/team-6.jpg" class="img-fluid" alt="">#}
{#              <div class="social">#}
{#                <a href="#"><i class="bi bi-twitter"></i></a>#}
{#                <a href="#"><i class="bi bi-facebook"></i></a>#}
{#                <a href="#"><i class="bi bi-instagram"></i></a>#}
{#                <a href="#"><i class="bi bi-linkedin"></i></a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="member-info text-center">#}
{#              <h4>Josepha Palas</h4>#}
{#              <span>Operation</span>#}
{#              <p>Sint sint eveniet explicabo amet consequatur nesciunt error enim rerum earum et omnis fugit eligendi cupiditate vel</p>#}
{#            </div>#}
{#          </div><!-- End Team Member -->#}
{##}
{#        </div>#}
{##}
{#      </div>#}
{#    </section><!-- End Our Team Section -->#}

    <!-- ======= Testimonials Section ======= -->
{#    <section id="testimonials" class="testimonials section-bg">#}
{#      <div class="container" data-aos="fade-up">#}
{##}
{#        <div class="section-header">#}
{#          <h2 style= "font-family: 'Garamond',Serif;font-size:50px;color:#0f3d81;">Happily Insured</h2>#}
{#            <p>We place great emphasis on customer satisfaction. It's encouraging to hear our customers' Star Health reviews. We are continually moulding ourselves to provide services a step ahead of what's expected by keenly listening to our customer voices.</p>#}
{#             <br>#}
{#             <br>#}
{##}
{#        <div class="slides-2 swiper">#}
{#          <div class="swiper-wrapper">#}
{##}
{#            <div class="swiper-slide">#}
{#              <div class="testimonial-wrap">#}
{#                <div class="testimonial-item">#}
{#                  <img src="/static/home/first/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">#}
{#                  <h3>Paul</h3>#}
{#                  <h4>Pune</h4>#}
{#                  <div class="stars">#}
{#                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>#}
{#                  </div>#}
{#                  <p>#}
{#                    <i class="bi bi-quote quote-icon-left"></i>I received help from Star during my surgery and recovery. And my faith in the company has increased a lot.#}
{#                    <i class="bi bi-quote quote-icon-right"></i>#}
{#                  </p>#}
{#                </div>#}
{#              </div>#}
{#            </div><!-- End testimonial item -->#}
{##}
{#            <div class="swiper-slide">#}
{#              <div class="testimonial-wrap">#}
{#                <div class="testimonial-item">#}
{#                  <img src="static/home/first/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">#}
{#                  <h3>Sara Wilsson</h3>#}
{#                  <h4>Bangalore</h4>#}
{#                  <div class="stars">#}
{#                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>#}
{#                  </div>#}
{#                  <p>#}
{#                    <i class="bi bi-quote quote-icon-left"></i>#}
{#                   I've been using Star Health for the past 8 years and claimed twice. I got faster claims plus excellent support.#}
{#                    <i class="bi bi-quote quote-icon-right"></i>#}
{#                  </p>#}
{#                </div>#}
{#              </div>#}
{#            </div><!-- End testimonial item -->#}
{##}
{#            <div class="swiper-slide">#}
{#              <div class="testimonial-wrap">#}
{#                <div class="testimonial-item">#}
{#                  <img src="static/home/first/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">#}
{#                  <h3>Jayasree</h3>#}
{#                  <h4>Tamilnadu</h4>#}
{#                  <div class="stars">#}
{#                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>#}
{#                  </div>#}
{#                  <p>#}
{#                    <i class="bi bi-quote quote-icon-left"></i>#}
{#                   I have raised a claim for my mother and received fast reimbursement claim settlement within 15 days. Thank you Star.#}
{#                    <i class="bi bi-quote quote-icon-right"></i>#}
{#                  </p>#}
{#                </div>#}
{#              </div>#}
{#            </div><!-- End testimonial item -->#}
{##}
{#            <div class="swiper-slide">#}
{#              <div class="testimonial-wrap">#}
{#                <div class="testimonial-item">#}
{#                  <img src="static/home/first/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">#}
{#                  <h3>Jayesh</h3>#}
{#                  <h4>Delhi</h4>#}
{#                  <div class="stars">#}
{#                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>#}
{#                  </div>#}
{#                  <p>#}
{#                    <i class="bi bi-quote quote-icon-left"></i>#}
{#        My wife and I have been associated with STAR since 2006. I made a claim recently and received timely support without any hassle. Thank you.#}
{#                    <i class="bi bi-quote quote-icon-right"></i>#}
{#                  </p>#}
{#                </div>#}
{#              </div>#}
{#            </div><!-- End testimonial item -->#}
{##}
{#            <div class="swiper-slide">#}
{#              <div class="testimonial-wrap">#}
{#                <div class="testimonial-item">#}
{#                  <img src="static/home/first/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">#}
{#                  <h3>Sathyajith</h3>#}
{#                  <h4>Kolkata</h4>#}
{#                  <div class="stars">#}
{#                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>#}
{#                  </div>#}
{#                  <p>#}
{#                    <i class="bi bi-quote quote-icon-left"></i>#}
{#                    I have been with STAR since 2006. I received quality advise when I fell sick and have been happy with STAR.#}
{#                    <i class="bi bi-quote quote-icon-right"></i>#}
{#                  </p>#}
{#                </div>#}
{#              </div>#}
{#            </div><!-- End testimonial item -->#}
{##}
{#          </div>#}
{#          <div class="swiper-pagination"></div>#}
{#        </div>#}
{##}
{#      </div>#}
{#    </section><!-- End Testimonials Section -->#}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Star Health and allied insurance</h3>
              <p>
               Shoba Building,
                  2nd Floor,
                  Mavoor Rd,
                  nr. Big Bazar,
                  Kozhikode, Kerala 673004<br><br>
                <strong>Phone:</strong> 1800 425 2255<br>
                <strong>Email:</strong> support@starhealth.in.com<br>
              </p>
              <div class="social-links d-flex mt-3">
{#                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>#}
{#                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>#}
{#                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>#}
{#                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>#}
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="contact">Contact</a></li>
{#              <li><a href="#">Services</a></li>#}
{#              <li><a href="#">Terms of service</a></li>#}
{#              <li><a href="#">Privacy policy</a></li>#}
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li>Health claims</li>
              <li>Accidental claims</li>
              <li>Doubt clearance with agents</li>
{#              <li><a href="#">Marketing</a></li>#}
{#              <li><a href="#">Graphic Design</a></li>#}
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Help Desk</h4>
            <ul>
              <li>044 6900 6900</li>
              <li>9387503967</li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Insurance</h4>
            <ul>
              <li>Health insurance</li>
              <li> Vehicle insurance</li>
              <li>Accidental insurance</li>
            </ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
{#        <div class="copyright">#}
{#          &copy; Copyright <strong><span>Star Health and allied Insurance</span></strong>. All Rights Reserved#}
{#        </div>#}
{#        <div class="credits">#}
{#          <!-- All the links in the footer should remain intact. -->#}
{#          <!-- You can delete the links only if you purchased the pro version. -->#}
{#          <!-- Licensing information: https://bootstrapmade.com/license/ -->#}
{#          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->#}
{#          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>#}
{#        </div>#}
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/home/first/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/home/first/assets/vendor/aos/aos.js"></script>
  <script src="static/home/first/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/home/first/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/home/first/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/home/first/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/home/first/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/home/first/assets/js/main.js"></script>

</body>

</html>