{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
</head>
{% extends 'user_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post"enctype="multipart/form-data" action="/applypost1#about">
{#  <table width="200" border="1">#}
    <table class="table table-dark table-stripped">
                <th colspan="5" style="text-align: center; font-size: 30px; text-decoration: underline; color:#b6d4fe"> APPLICATION FORM FOR FAMILY</th>

    <tr>
      <td>Name</td>
      <td><label>
        <input type="text" name="textfield" required pattern="[A-Za-z]+" title="First name should only contain letters (A-Z or a-z)"/>
      </label></td>
    </tr>
    <tr>
      <td>Date-Of-Birth</td>
      <td><label>
        <input type="date" name="textfield1" required/>
      </label></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><label>
        <input name="radiobutton" type="radio" value="Male" required/>
      Male
      <input name="radiobutton" type="radio" value="Female" required />
      Female</label></td>
    </tr>
{#    <tr>#}
{#      <td>Address</td>#}
{#      <td><label>#}
{#        <input type="text" name="textfield2" required pattern="[A-Z a-z.]{3,25}" title="Enter a valid address"/>#}
{#      </label> </td>#}
{#    </tr>#}
    <tr>
      <td>Id proof </td>
         <td><label>
        <input type="file" name="image" accept="application/pdf" required oninvalid="this.setCustomValidity('Please send the file as PDF ')" oninput="setCustomValidity('')" />
{#      <td></td>#}
         </label></td>
    </tr>
    <tr>
      <td>Relation</td>
      <td><label>
        <select name="select">
            <option value="father">father</option>
            <option value="mother">mother</option>
            <option value="wife">wife</option>
            <option value="child">child</option>


        </select>
      </label></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center";>

          <input type="submit" name="Send" value="Send" class="btn btn-outline-light" />

      </td>
    </tr>
  </table>
  <label></label>
</form>
</body>
{#</html>#}
{% endblock %}
