{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}

</head>
{% extends 'user_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
{#  <table width="200" border="1">#}
    <table class="table table-dark table-striped" style="width:600px;">
                        <th colspan="5" style="text-align: center; font-size: 30px; text-decoration: underline; color:#b6d4fe"> VIEW REPLY</th>

    <tr>
      <td>DATE</td>
      <td>COMPLAINT</td>
      <td>REPLY</td>
    </tr>{% for i in val %}
    <tr>
      <td>&nbsp;{{ i.Date }}</td>
      <td>{{ i.Complaint }}</td>
      <td>{{ i.Reply }}</td>
    </tr>{% endfor %}
    <tr>
      <td colspan="3"><div align="center"><a href="sndcomp#about"class="btn btn-outline-info">Send Complaint</a></div></td>
    </tr>
  </table>
</form>
</body>
{#</html>#}
{% endblock %}