<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="252" border="1">
    <tr>
      <td width="242"><a href="sndpolreq"><strong>Send request for policy</strong></a></td>
    </tr>
    <tr>
      <td><a href="reqstatus"><strong>View request status</strong></a></td>
    </tr>
    <tr>
      <td><a href="clmreq"><strong>Send claim request with documets</strong></a></td>
    </tr>
    <tr>
      <td><a href="clmstatus"><strong>View Claim request status</strong></a></td>
    </tr>
    <tr>
      <td><a href="sndfeed"><strong>Send feedback and Rating for Policy</strong></a></td>
    </tr>
    <tr>
      <td><a href="pay"><strong>Payment</strong></a></td>
    </tr>
    <tr>
      <td><a href="viewrply"><strong>Send Complaint and View Reply</strong></a></td>
    </tr>
    <tr>
      <td><a href=""><strong>Chat with agent</strong></a></td>
    </tr>
    <tr>
      <td><label>
        <div align="center">
          <input type="submit" name="Submit" value="Logout" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
